header {
    text-align: center;
    background-color: rgb(220, 112, 112);
}

main{
    text-align: center;
    color: pink;
}

footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

img {
    height: 20px;
    width: 20px;
}