@media screen and (min-width: 2500px)
{
    
    main {
        display: grid;
        place-self: center;
        grid-template-columns: repeat(20, 100px);
        grid-template-rows: repeat(20, 300px);
        grid-gap: 40px;
    }

    header.contH {
        width: 3000px;
        padding: 20px;
        font-size: 40px;
        grid-row: 1;
        grid-column: 1/10;
        overflow: visible;
    }

    .target1 {
      width: 840px;
        grid-row: 2/9;
        grid-column: 2;
    }
    
    .target2{
      width: 840px;
        grid-row: 2/9;
        grid-column: 9;
    }

    .target3 {
        width: 840px;
        grid-column: 16;
        grid-row: 2/9;
    }

    .contF {
      width: 3000px;
      padding: 20px;
      font-size: 30px;
      grid-column: 1;
      grid-row: 9;
      overflow: visible;
    }

    .contents p {
      margin-top: 10px;
      font-size: 50px;
      color: #000000;
    }
}