/* tittle */
.tittle {
    color: #1b5f9a;
    text-align: center;
    font-size: 10px;
    margin-top: 35px;
}

/* nav */
.Anav {
    text-decoration: none;
    color: #ffffff;
}

ul {
    background-color: #1b5f9a;
    display: flex;
    list-style: none;
    justify-content: space-around;
    box-shadow: 0 0 10px #5184b0;
    border-radius: 1px;
    opacity: 0.9;
}

.navigation li {
	display: none;
}

.open li {
    display: block;
    padding: 5px;
}

.Anav:hover {
    background-color: #ffffff;
    color: #1b5f9a;
    padding: 5px;
}

/* Burger Button */

#menu {
	font-size: 3.8rem;
	color: #1b5f9a;
	position: absolute;
	top: 20px;
    left: 15px;
    text-decoration: none;
    font-weight: 600;
}

#menu::before {
	content: "≡";
}

#menu.open::before {
	content: "X";
    font-size: 2rem;
}

/* Banner */
#bb{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 25%);
}

#banner {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: black; opacity: 0.5;
    filter: brightness(0.6);
}

.bannerCont {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
}

body {
    background-color: #e5f1fb;
}

/* Book Now*/

#reservation {
    grid-column: 2;
    z-index: 1;
    grid-row: 2/2;
    text-align: center;
    background-color: #1b5361;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
}

#reservation a {
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    font-size: 10px;
}

#reservation:hover {
    background-color: #ffffff;
}

#reservation a:hover {
    color: #1b5361;;
}



/* Dark Mode */
.switch {
    position: absolute;
    width: 60px;
    height: 30px;
    right: 0.2rem;
    top: 2.5rem;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.slider.round {
    border-radius: 34px;
}

input:checked + .slider {
    background-color: #3a8699;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3a8699;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Table */
table {
    font-size: 5px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #00acd2;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #00acd2;
}

tr th:first-child {
    font-size: 12px;
}

/* Weather */

#weather-section {
    text-align: center;
}

/* footer */
footer {
    text-align: center;
    background-color: #1b5f9a;
    color: #ffffff;
    font-size: 12px;
}

a img {
    width: 40px;
    padding: 5px;
}

/* main */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

#resume, #weather-section {
    text-align: center;
    background-color: #ddecf9;
    border-radius: 10px;
    border: solid #1b5f9a 4px;
    padding: 20px;
}

#social {
    display: none;
}

.aver {
    display:inline-block;
}

.nose {
    text-align: center;
    font-size: 10px; 
}

.principal {
    font-size: 20px;
}

#prices {
   text-align: center;
   margin: 40px;
}

#prices a {
    background-color: #1b5361;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

#prices a:hover {
    background-color: #29849a;
}


.banner {
    z-index: 1;
    background-color: #3a8699;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .banner p {
    font-size: 8px;
  }
  
  #closeBannerBtn {
    background-color: #ff1100;
    color: white;
    border: none;
    padding: 1px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 6px;
  }

#nojose {
    margin-top: -8px;
}