@media screen and (min-width: 1000px)
{
    #menu, .navigation{
        display: none;
    }

    #menu.open::before {
        display: none;
    }

    .navigation ul {
        list-style: none;
        display: flex;
    }

    .navigation {
        display: grid;
    }

    .navigation li {
        display: flex;
        font-size: 50px;
    }

    #reservation {
        font-size: 50px;
    }

    .tittle {
        text-align: center;
        font-size: 40px;
    }

    #social {
        display: flex;
        position: absolute;
        top: 80px;
    }

    a img {
        width: 40px;
        padding: 5px;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .switch {
        top: 5.5rem;
        right: 4rem;
    }

    #closeBannerBtn {
        font-size: 10px;
    }

    #nojose {
        margin-top: 1px;
    }

    .banner p {
        font-size: 12px;
    }

    #reservation {
        border-radius: 5px;
    }
    
    #reservation a {
        font-size: 40px;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-size: 12px;
        margin-top: 10px;
    }
    
    a img {
        width: 30px;
        padding: 5px;
    }

    .copy {
        grid-row: 2;
        grid-column: 3;
    }

    #prices-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        font-size: 15px;
    }

    #e-image {
        width: 120px;
        height: 100px;
    }

    table {
        font-size: 15px;
    }
}