@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Playfair+Display&family=Roboto+Condensed:wght@300&display=swap');

main {
    display: grid;
    justify-items: center;
    align-items: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero {
	position: relative;
}

.hero {
    margin-top: 13.5%;
}

.div-text {
	position: absolute;
	top: 5px;
	left: 80px;
    right: 80px;
	background: radial-gradient(#fff,rgb(0, 66, 84));
	border: 1px solid rgba(0, 66, 84);
	padding: 0.3rem;
	box-shadow: 0 0 2rem #fff;
	opacity: 0.75;
}

#weather-section {
    text-align: center;
}

#wind-chill-form {
    padding: 10px;
}
.div-text p {
    text-align: center;
	margin: 0;
	padding: .15rem;
	font-weight: 500;
	font-size: 2.4rem;
	font-family: 'Playfair Display', "serif";
}

footer {
    margin-top: -10px;
    margin-bottom: -40px;
}

.hero {
    display: grid;
    grid-template-rows: repeat(6, 10%);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.invitation{
    grid-row: 3;
    color: #ffffff;
    font-family: 'Roboto Condensed', "sans-serif";
    font-size: 40px;
}
.button-box {
    grid-row: 6;
}


.header {
    display: grid;
    grid-template-rows: repeat(6, 10%);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #232f3e;
    height: 100%;
    padding-bottom: 200px;
    font-family: 'Playfair Display', "serif";
}

.prin-image {
    width: 100%;
    grid-row: 4;
}

.navigation {
    margin-top: -18px;
    text-align: center;
    background-color: #232f3e;
}


.ele {
    padding: 0px;
    grid-row: 5;
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;
}


.join {
    border: solid #232f3e 0.5px;
    border-radius: 2px;
    font-size: 15px;
    color: #232f3e;
    padding: 3px;
    text-decoration: none;
    background-color: #e3e3e3;
    z-index: 1;
}

.join:hover {
    color: #dadada;
    padding: 3px;
    text-decoration: none;
    background-color: #232f3e;
}

.navigation ul {
    list-style: none;
    display: block;
}
  
.navigation li {
    margin-right: 25px;
}
  
.navigation a {
    font-size: 50px;
    text-decoration: none;
    color: #ffffff;
}

.navigation li:hover {
    text-decoration: none;
    border-radius: 1px;
    padding: 1px;
}

.navigation a:hover {
    color: #699fb0;
}

.tittle {
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Condensed', "sans-serif";
    font-size: 20px;
}

#menu {
	font-size: 4rem;
	color: #ffffff;
	position: absolute;
	top: 1rem;
    left: 5px;
    text-decoration: none;
    font-weight: 600;
}

#menu::before {
	content: "≡";
}

#menu.open::before {
	content: "X";
    font-size: 3rem;
}

.navigation li {
	display: none;
}

.open li {
	display: block;
}


footer{
    text-align: center;
    font-family: 'Roboto Condensed', "sans-serif";
    background-color: #232f3e;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
}

.each-event {
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.weather {
    text-align: center;
}

.spotlights {
    text-align: center;
}

p {
    font-size: 25px;
}

h3 {
    font-size: 30px;
}

.event-images {
    width: 50%;
}

.events {
    text-align: center;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 1rem;
    top: 2.5rem;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.slider.round {
    border-radius: 34px;
}

input:checked + .slider {
    background-color: #3a8699;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3a8699;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

body {
    transition: background-color 0.4s, color 0.4s;
}

body.dark-mode {
    background-color: #000;
    color: #fff;
}
