@media screen and (min-width: 2000px)
{
    #menu {
        display: none;
    }

    .navigation ul {
        list-style: none;
        display: flex;
        
    }

    #weather-section {
        font-size: 50px;
    }

    .navigation {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        margin-bottom: 200px;
    }

    .div-text {
        top: -200px;
        left: 500px;
        right: 500px;
    }

    .div-text p {
        font-size: 5rem;
    }

    .hero {
        margin-top: 10%;
    }

    .join {
        font-size: 90px;
    }

    .tittle, .invitation, h1 {
        font-size: 160px;
    }

    .navigation a {
        font-size: 150px;;
    }

    .ele {
        grid-row: 2;
    }

    .navigation li {
        display: block;
    }

    footer{
        font-size: 80px;
    }

    .each-event {
        gap: 400px;
    }

    p {
        font-size: 80px;
    }
    
    h2 {
        font-size: 100px;
    }

    h3 {
        font-size: 90px;
    }
    
    .sidebar h2, .images-example h2 {
        font-size: 5rem;
    }

    .content-section {
        margin: 20px;
        margin-bottom: 25px;
        padding: 80px;
    }

    .images-example p {
        font-size: 30px;
    }

    #message {
        font-size: 50px;
    }

    
    .images-example img {
        width: 800px;
        height: 500px;
    }

    .content-section p {
        font-size: 30px;
    }

    .image:hover {
        opacity: 0.7;
    }

    .images-example img:hover {
        width: 810px;
        height: 520px;
    }

    .side-image{
        width: 500px;
        height: 480px;
    }

    img {
        width: 100%;
        background: black;
        animation: fade 15s;
    }
    
    @keyframes fade {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
    
    .member-large {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bam {
        font-size: 25px;
    }

    .membership-benefits {
        font-size: 15px;
    }

    .message {
        font-size: 60px;
    }

    .list {
        display: flex;
        flex-direction: column;
    }
    
    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0;
    }

    .list > section > p {
        font-size: 15px;
    }
    
    .list > section > h2 {
        font-size: 15px;
    }
    
    .list > section > a {
        font-size: 15px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section p {
        font-size: 20px;
    }

    .menu {
        padding: 20px;
    }

    #grid, #list {
        width: 150px;
        height: 150px;
        font-size: 40px;
        margin: 20px;
    }

    section img {
        width: 400px;
        height: 200px;
    }

    section a {
        font-size: 40px;
    }

    .banner p, #closeBannerBtn {
        font-size: 18px;
      }

      #imgFore, #imgWea{
        height: 120px;
        width: 120px;
      }

      #weather, .weather-display {
        font-size: 100px;
      }

      #message {
        font-size: 150px;
        margin-bottom: 180px;
        margin-top: -100px;
    }

    form fieldset {
        max-width: 2000px;
    }
    
    form legend {
        font-size: 40px;
    }
    
    textarea {
        max-width: 2000px;
        width: 90%;
    }
    
    form label.first, form div {
        font-size: 3rem;
        max-width: 1200px;
    }
    
    form label.first input, form label.first select {
        font-size: 4rem;
        width: 80%;
        max-width: 1000px;
    }
    
    form input.submitBtn {
        max-width: 600px;
    }

    .membership-benefits, .bam {
        font-size: 30px;
    }

    #spotlight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .spotGrid h3{
        font-size: 50px;
    }
    
    .spotGrid p{
        font-size: 40px;
    }

    .spotGrid a{
        font-size: 40px;
    }

    .spotGrid img{
        width: 400px;
        height: 200px;
      }

    .list > section > p {
        font-size: 35px;
    }

    .list > section > a {
        font-size: 35px;
    }

    .list > section > h2 {
        font-size: 35px;
    }

    section p {
        font-size: 35px;
    }


}