@media screen and (min-width: 2000px)
{
    #menu {
        display: none;
    }

    .navigation ul {
        list-style: none;
        display: flex;
        
    }

    .navigation {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .join {
        font-size: 90px;
    }

    .tittle, .invitation, h1 {
        font-size: 160px;
    }

    .navigation a {
        font-size: 150px;;
    }

    .ele {
        grid-row: 2;
    }

    .navigation li {
        display: block;
    }

    footer{
        font-size: 80px;
    }

    .each-event {
        gap: 400px;
    }

    p {
        font-size: 80px;
    }
    
    h2 {
        font-size: 100px;
    }

    h3 {
        font-size: 90px;
    }
}