@media screen and (min-width: 2000px)
{
    #menu {
        display: none;
    }

    .navigation ul {
        list-style: none;
        display: flex;
        
    }

    #weather-section {
        font-size: 50px;
    }

    .navigation {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        margin-bottom: 200px;
    }

    .div-text {
        top: -200px;
        left: 500px;
        right: 500px;
    }

    .div-text p {
        font-size: 5rem;
    }

    .hero {
        margin-top: 10%;
    }

    .join {
        font-size: 90px;
    }

    .tittle, .invitation, h1 {
        font-size: 160px;
    }

    .navigation a {
        font-size: 150px;;
    }

    .ele {
        grid-row: 2;
    }

    .navigation li {
        display: block;
    }

    footer{
        font-size: 80px;
    }

    .each-event {
        gap: 400px;
    }

    p {
        font-size: 80px;
    }
    
    h2 {
        font-size: 100px;
    }

    h3 {
        font-size: 90px;
    }
    
    .sidebar h2, .images-example h2 {
        font-size: 5rem;
    }

    .content-section {
        margin: 20px;
        margin-bottom: 25px;
        padding: 80px;
    }

    .images-example p {
        font-size: 30px;
    }

    #message {
        font-size: 50px;
    }

    
    .images-example img {
        width: 800px;
        height: 500px;
    }

    .content-section p {
        font-size: 30px;
    }

    .image:hover {
        opacity: 0.7;
    }

    .images-example img:hover {
        width: 810px;
        height: 520px;
    }

    .side-image{
        width: 500px;
        height: 480px;
    }

    img {
        width: 100%;
        background: black;
        animation: fade 15s;
    }
    
    @keyframes fade {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
}