@media screen and (min-width: 1000px)
{
    #menu, .navigation{
        display: none;
    }

    #menu.open::before {
        display: none;
    }

    .navigation ul {
        list-style: none;
        display: flex;
    }

    .navigation {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .join {
        font-size: 50px;
    }

    .tittle, .invitation, h1 {
        font-size: 120px;
    }

    .navigation a {
        font-size: 70px;;
    }

    .ele {
        grid-row: 2;
    }
    .navigation li {
        display: block;
    }

    footer{
        font-size: 50px;
    }

    p {
        font-size: 50px;
    }
    
    h2 {
        font-size: 70px;
    }

    h3 {
        font-size: 60px;
    }
    
    .each-event {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 120px;
    }

    .events {
        text-align: center;
        font-size: 55px;
    }

    .event-images {
        width: 100%;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header header"
            "sidebar content"
            "footer footer";
            color: rgb(255, 255, 255);
    }
    
    .sidebar {
        text-align: center;
    }
    
    .sidebar h2, .images-example h2 {
        font-size: 3rem;
    }

    .content-section {
        margin: 15px;
        margin-bottom: 20px;
        background-color: #232f3e;
        padding: 60px;
    }

    .images-example{
        text-align: center;
    }

    .images-example p {
        font-size: 20px;
    }

    .images-example {
        color: rgb(0, 0, 0);
    }

    #message {
        color: #2a255c;
        font-size: 30px;
    }

    .images-example img {
        width: 350px;
        height: 205px;
    }

    .images-example img:hover {
        width: 355px;
        height: 210px;
    }

    .content-section p {
        font-size: 20px;
    }

    .image:hover {
        opacity: 0.7;
    }

    img {
        width: 100%;
        background: black;
        animation: fade 15s;
    }
    
    @keyframes fade {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }

    .message {
        font-size: 40px;
    }

    section img {
        width: 180px;
        height: 120px;
    }

    section p {
        font-size: 15px;
    }

    .list > section > p {
        font-size: 10px;
    }
    
    .list > section > h2 {
        font-size: 10px;
    }
    
    .list > section > a {
        font-size: 10px;
    }

    .list section {
        padding: 10px;
    }

    .banner p, #closeBannerBtn {
        font-size: 12px;
      }
    
}