@media screen and (min-width: 1200px)
    {
        #menu {
            display: none;
        }
    
        .navigation {
            flex-direction: row;
        }
    
        .navigation li {
            display: block;
            flex: 1 1 100%;
        }

        main {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr 1fr;
        }

        main h2 {
            grid-row: 1;
        }

        main section {
            grid-row: 2;
        }

        .herolabel {
            border: 5px solid rgba(0, 66, 84);
        }

        .herolabel p {
            font-size: 4.5rem;
        }

        main {
            margin-bottom: -620px;
        }
    }