@media screen and (min-width: 2000px)
    {
        #menu {
            display: none; /* hide hamburger button */
        }
    
        .navigation {
            flex-direction: row;
        }
    
        .navigation li {
            display: block;
            flex: 1 1 100%;
        }

        main {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr 1fr;
        }

        main h2 {
            grid-row: 1;
        }

        main section {
            grid-row: 2;
        }

    
    }