header{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 66, 84);
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin: 0 0 0 -100px;
}

.profile{
    padding: 80px 0px 80px 80px;
    margin-left: 100px;
}

h1 {
    text-align: left;
    margin: 0 auto;
}

main {
    display: grid;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    color: rgb(0, 66, 84);
}

footer{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 66, 84);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
}

.card {
    color: rgb(0, 66, 84);
    font-size: 20px;
}

section ul {
    list-style: none;
    text-align: justify;
    margin: 0 20%;
    border: solid rgb(0, 66, 84);
    padding: 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

#menu {
	font-size: 10rem;
	font-weight: 700;
    align-self: start;
    margin: 0 auto;
	text-decoration: none;
    text-align: right;
	padding: .5rem .75rem;
    background-color: rgb(0, 66, 84);
	color: white;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: rgb(0, 66, 84);
}
.navigation {
    border-radius: 10px;
	list-style: none;
	margin: -20px auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}

nav ul {
    list-style: none;
    margin-left: -50px;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: 700;
	font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.navigation a:hover {
	color: rgb(0, 66, 84);
	background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
    color: rgb(255, 255, 255);
    font-size: 8rem;
	font-weight: 500;
}

.active::before {
        content: "👨‍💻 ";
}

#map-container {
    display: flex;
    justify-content: center;
  }


@media screen and (max-width: 1300px)
    {
        h1 {
        text-align: center;
        margin: 0 auto;
        font-size: 35px;
        }

        #menu {
            text-align: left;
            font-size: 50px;
        }
    }