@media screen and (min-width: 1200px)
    {
        #menu {
            display: none; /* hide hamburger button */
        }
    
        .navigation {
            flex-direction: row;
        }
    
        .navigation li {
            display: block;
            flex: 1 1 100%;
        }
    }